.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.wrapper {
    padding: 20px 0;
    width: 100%;
    background: #1a1d22;
    border-radius: 8px;
    display: flex;
    overflow: auto;
}